<!DOCTYPE html>
%html
  %head
    %title Checkers
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    .navbar.navbar-fixed-top.navbar-inverse
      .navbar-inner
        .container
          %a.btn.btn-navbar{ :data => { :toggle => "collapse", :target => ".nav-collapse" }}
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.brand{ :href=> "#" } Checkers
          %div.nav-collapse
            %ul.nav

    .row
      .span9
        = yield
      .span3
        = render 'basket'


